<h3 align=center>Create New Account</h3>
<div>
  <p id="error"><b>{{message}}</b></p>
  <p id="success"><b>{{success}}</b></p>
  <form align="center" [formGroup]="newAccountForm" (ngSubmit)="onSubmit()">
    <br>
    <label>Email:</label><br>
    <input type="text" formControlName="email" name="email" required>
    <br>
    <label>Password:</label><br>
    <input type="password" formControlName="password" name="password" required>
    <br>
    <label>First Name:</label><br>
    <input type="text" formControlName="fName" name="fName" required>
    <br>
    <label>Last Name:</label><br>
    <input type="text" formControlName="lName" name="lName" required>
    <br>
    <label>Address:</label><br>
    <input type="text" formControlName="address" name="address" required>
    <br>
    <label>City:</label><br>
    <input type="text" formControlName="city" name="city" required>
    <br>
    <label>State:</label><br>
    <select id="statesList" formControlName="state" name="state" required>
      <option *ngFor="let state of states" value="{{state}}">{{state}}</option>
    </select>
    <br>
    <label>Zip Code:</label><br>
    <input type="number" formControlName="zip" name="zip" required>
    <br>
      <button type="submit" [disabled]="!newAccountForm.valid" id="submit">Submit</button>
  </form>
  <button routerLink="" id="back">Back</button>
</div>