<a *ngIf="view=='createReview'">
    <h1 style=" font-size: 2em;">
        <button class="myButton" type="button"
            style="text-align: right; float: right;  font-size: 0.5em; text-decoration: none;" routerLink="logout"> Sign
            Out </button>
    </h1><br>
    <h1 id="header" style="font-size: 3em; text-align: center; position: relative; left: 1em;">
        Leave a Review
        <h2 id="hospitalName" style="font-size: 0.5em; text-align: center; position: relative; right: 2em;">
            {{this.hospitalSelected.name}}
        </h2>
    </h1>
    <a *ngIf="submitted==false">
        <form [formGroup]="createReviewsForm" (ngSubmit)="createReviews()" style="text-align: center;">
            <label>
                Medical Care Staff
                <ngb-rating [(rate)]="MedicalStaffRating" [rate]="1" [max]="5"></ngb-rating> 
                <a style="left:5em; position: relative;">
                    Date Admittance:
                    <input type="datetime-local" formControlName="DateAdmittance" required>
                </a> <br>
                <a style="left:4.5em; position: relative;">
                    Facilities
                    <ngb-rating [(rate)]="FacilityRating" [rate]="1" [max]="5"></ngb-rating> 
                    <a style="left:9em; position: relative;">
                        Reason:
                        <input type="text" size="50" formControlName="Reason" placeholder="Consultation, Surgery, Post Surgery, Emergency, Other" required>
                    </a> <br>
                </a>
                <a style="right:9.5em; position: relative;">
                    Clerical Staff
                    <ngb-rating [(rate)]="ClericalStaffRating" [rate]="1" [max]="5"></ngb-rating> <br>
                </a>
                <a style="right:8.25em; position: relative;">
                    Overall
                    <ngb-rating [rate]="(FacilityRating+MedicalStaffRating+ClericalStaffRating)/3" [max]="5" [readonly]="true"></ngb-rating> <br>
                </a> <br>
                Comment:
                <input type="text" formControlName="WrittenFeedback" style="height:5em; width: 20em; overflow: scroll;"required> <br> <br>
                <button class="myButton" type="button" style="position:relative; right: 3em; " (click)="redirectToHome()"> Leave </button>
                <button type="submit" [disabled]="!this.createReviewsForm.valid" class="myButton" style="position:relative; left: 3em; text-decoration: none;">
                    Submit Review
                </button>
            </label>
            <br>
        </form>
    </a>
    <a *ngIf="submitted==true">
        <br>
        <h1 style=" text-align: center;">
            Review Submitted!
        </h1> <br>
        <button class="myButton" type="button" style="position:relative; " (click)="redirectToHome()"> Leave </button>
    </a>
</a>