
<a *ngIf="view=='view'">
    <button type="button" class="myButton" style="text-align: left; float: left;" (click)="redirect(' ')"> 
         Back
    </button>
    <button type="button" class="myButton" style="text-align: right; float: right;" routerLink="logout"> 
         Sign Out 
    </button>
    <!--
    <button type="button" style="text-align: right; float: right;"> 
        <a routerLink="edithospital"> Edit Hospital Information </a> 
    </button> 
    --> <!-- Add a ngif to check if they are an admin -->
    <button type="button" class="myButton" style="text-align: right; float: right;" (click)="redirect('createReview')"> 
         Leave A Review 
    </button>
     <br> <br>
    <a style="position: absolute; left: 4em;" id="hospitalInfo">
        <h1 style=" font-size: 2em;">
            {{this.hospital.name}}
        </h1>
        <ol id="hospitalData" style="padding-left:1em; font-size: 1.2em;">
            {{this.hospital.address}} <br>
            {{this.hospital.phone}} <br>
            <a href="{{this.hospital.website}}">{{this.hospital.website}}</a><br>
        </ol>
        <div style="padding-left:1em;">
            <h1 style=" font-size: 1.75em;">
                Ratings
            </h1>
            <ol id="ratingsinfo" style="font-size: 1.2em;">
                Medical Care Staff:   <ngb-rating [(rate)]="this.hospital.aggMedicalStaffRating" [readonly]="true" [max]="5" ></ngb-rating> <br>
                Facilities: <ngb-rating [(rate)]="this.hospital.aggFacilityRating" [readonly]="true" [max]="5" ></ngb-rating> <br>
                Clerical Staff: <ngb-rating [(rate)]="this.hospital.aggClericalStaffRating" [readonly]="true" [max]="5" ></ngb-rating> <br>
                <strong>Overall: <ngb-rating [(rate)]="this.hospital.aggOverallRating" [readonly]="true" [max]="5" ></ngb-rating></strong>
            </ol> <!--Change to stars-->
            <h1 style=" font-size: 2em;">
                Reviews
            </h1>
            <a style=" border-style: solid; border-color: black; left: 6em; right: 6em; position:fixed; padding: 0.5em;">
    
    
                    <br>
                    <a style=" border-style: solid; border-top:1em; border-color: black; left: 6em; right: 6em; position:fixed; padding: 0.5em; text-align: center;">
                       <br> See All Reviews
                    </a>
            </a>
        </div>
    </a>
</a>

<app-create-review></app-create-review>