<h3 align="center">Login</h3>
<div>
  <p id="success">{{success}}</p>
  <p id="error">{{error}}</p>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <br>
    <label>Email:</label><br>
    <input type="text" formControlName="email" name="email" required>
    <br>
    <label>
      Password:</label><br>
      <input type="password" formControlName="password" name="password" required>
    <p>
      <button type="submit" id="submit" [disabled]="!loginForm.valid">Login</button>
    </p>
  </form>
  <button id="back" routerLink="">Back</button>
</div>