<form (ngSubmit)="ChangeLocation(myInput.value)">
<div style="text-align: center;" >
    <input type="text" #myInput style="width: 75%; size: 100%;" placeholder="Search by Name, City, Zipcode, Address"> 
</div> 
</form> <br>
<section class="container">
    <div class="flex-container" style="text-align: center; " >
        <article class="column">
            <div class="left-half" style="overflow-y:scroll;  text-align: left; ">
                <!--This list will be changed to a ngfor hospitals loop once the api is complete -->
                <ol>
                    <a>Hospital Name: </a> <br>
                    <a>Address: </a> <br>
                    <a>Distance: </a> <!--  -->
                </ol>
                <ol>
                    <a>Hospital Name: </a> <br>
                    <a>Address: </a> <br>
                    <a>Distance: </a> <br>
                </ol>
                <ol>
                    <a>Hospital Name: </a> <br>
                    <a>Address: </a> <br>
                    <a>Distance: </a> <br>
                </ol>
                <ol>
                    <a>Hospital Name: </a> <br>
                    <a>Address: </a> <br>
                    <a>Distance: </a> <br>
                </ol>
                <ol>
                    <a>Hospital Name: </a> <br>
                    <a>Address: </a> <br>
                    <a>Distance: </a> <br>
                </ol>
            </div>
        </article>
        <article class="column">
            <div class="right-half">
                <app-map-api></app-map-api>
            </div>
        </article>
    </div>
</section>
