<h1 style=" font-size: 2em;" id="navbar"> Guardian 
    <button type="button" class="myButton" style="text-align: right; float: right;  font-size: 0.5em; text-decoration: none;"> 
        <a routerLink="/createaccount" style="text-decoration: none; color:white;"> New Account </a> </button>
    <button type="button" class="myButton" style="text-align: right; float: right;  font-size: 0.5em; text-decoration: none;"> 
        <a routerLink="login" style="text-decoration: none; color:white;"> Login </a> </button>
</h1>
<app-search-hospitals></app-search-hospitals>